body {
    display: grid;
    /* grid-template-rows: repeat(2, auto) 1fr auto; */
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}
#sort{
   background: #a9ab49;;
}
.adss{
    border: 3px #a9a7a7 solid;
}
.nonel{
    display: none;
}
.err{
    display: none;
    font-size: .6em;
    color: red;
}
.err2{
    display: none;
    font-size: .6em;
    color: red;
}
.blerr{
    display: block;
}
.addal{
    display: block;
    position: absolute;
    left: 0;
}
.carousel-indicator button{
    width: 20px;
     height: 20px;
      border-radius: 50%;
      background: #EB5534;
      margin: 1em;
      border: 2px #EB5534 solid;

      
      
    }

.carousel-indicator{
   text-align: center;
   position: absolute;
   bottom: 0;
   width: 100%;
}
.img-log{
    position: absolute;
    top: 0;
    width: 150px;
    margin-top: .8em;
}

#about{
    background-color: #A9AB49;
}
.cards{
    width: 18rem;
    position: absolute;
    top: 3em;
    right: 4em;
    z-index: 1;
    border: none;
}
.cards a{
    
    color:#C5C5C5 ;
    text-decoration: none;
}
.cards p{
    
    color:#23164B ;

}
#comments{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../images/bgcomments.png");
    min-height: 70vh;
}
.sotrm{
    display: none;
}
.sotrmes{
    display: none;
}
.sotrmes2{
    display: none;
}
.sorm2{
    display: block;
    position: absolute;
    right: 0;
    width: 100%;
    padding: 2em;
}
.text-flicker {
    animation: flicker 2s linear infinite; /* Параметры анимации */
  }
    @keyframes flicker {
      from { opacity: 1; /* Непрозрачный текст */ }
      to { opacity: .3; /* Прозрачный текст */ }
    }
#other{
    min-height: 70vh;
}
.hh4{
    color:white;text-align: inherit;width: 13em;
}

.p1{
    width: 40%;
    position: absolute;
    right: 0;
    top: 20%;
    font-size: 1.4em;color: #23164B;font-weight: 500;
}
.p2{
    font-size: 1.4em;font-weight: 500;
    width: 40%;
    position: absolute;
    bottom: 10%;
    color: #23164B;
    
}
.onet{
    width: 40%;
}
.onet2{
    width: 40%;
}

.tts{
    width: 60%;
}
.mess{
    display: none;
}
.mess2{
    display: block;
}
.form-none{
    display: none;
}
.form2{
    display: none;
}
.form2-block{
    display: block;
}
.ww{
    width: 60%
}
.h2h{
    margin-top: 3em;
}
.bb{
    width: 60%;
    
}
.doxod{
    margin-top: 92px;
    font-size: 1.5em;
    position: relative;
}
.img-h{
    position: absolute;
    top: -7em;
    width: 30em;
    right: -10em;
}
.otv{
     padding-left: 4em;
                padding-right: 4em;
                padding-right: 4em;
                font-size: .8em;
                width: 100%;
               padding-top: 4em;
                text-align: center;
}
.img-ser{
    position: absolute;
    max-width: 100%;
    width:25em;
    top: -2em;
    right: 0;
}
.onetext{
    position: absolute;
    top: 5%;
    width: 10em;
    right: -1em;
    color: #23164B;
    font-size: 1em;
    color: #23164B;
    font-weight: 500;
}
.oot2{
    position: absolute;
    color: #23164B;
    bottom: 0;
    width: 10em;
    font-size: 1em;
    font-weight: 500;
}

.other1{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../images/oth1.png");
    min-height: 70vh;
}
.other2{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../images/oth2.png");
    min-height: 70vh;
}
.oth2{
    position: absolute;
    width: 40%;
    right: 0;
    top: -7em;
}
.oth1{
    position: absolute;
    max-height: 120vh;
    left: 8em;
    
}
.box-cont{
    

 
}
.text{
    font-weight: 500;
    position: relative;
}
.prin{
    left: 4em;
    position: absolute;
    width: 20em;
    bottom: -5em;
}
.neprin{
    position: absolute;
    right: 0;
    bottom: 0;
}
.other{
    width: 80rem;
    position: absolute;
    top: -10em;
    right: 0;
}
.img-h1{
    position: absolute;
    max-width: 25em;
    top: -2em;right: 0;
}
.img-cont{
    position: relative;
}
.w-1{
    position: absolute;
    width: 8em;
    right: -2em;
    top: -2em;
}

.sp-w{
    color: #eb5534a6;
    font-size: 4em;
    font-weight: 600;
    position: absolute;
    opacity: .8;
    left: -.7em;
    top: -.5em;
}
.box-about{
    width: 50%;
}
.order-alert {
    display: none;
}
.hh1{
    width: 70%;
    
}
.succes-al{
    display: block;
    position: absolute;
    top: 1em;
}
.succes-als{
    display: block;
    position: absolute;
    top: 1em;
    width: 100%;
    padding: 1em;
    left: 0;
}
.text-other{
    width: 14em;
    margin-top: 5em;
    font-size: 1.4em;
    text-align: initial;
    width: 30%;
    text-align: center;
}
.text-other2{
    width: 14em;
    margin-top: 5em;
    font-size: 1.4em;
    text-align: initial;
    width: 30%;
    text-align: end;
}
#box2{
    background-color: #A9AB49;
    margin: 0;
    padding: 0;
    
}
@media (max-width:1410px) {
    .cards{
        top: 1.2em;
    }
}
@media (max-width:1350px) {
    .p1{
        font-size: 1.1em;
        
    }
    .p2{
        font-size: 1.1em;
        
    }
}
@media (max-width:1200px) {
.cards{
    width: 18rem;
    position: absolute;
    top: 2em;
    right: 1em;
    z-index: 1;
    border: none;
}
.cards p{
    font-size: .7em;
}
}
@media (max-width:1130px) {
    .p1{
        font-size: 1.1em;
        top: 10%;
        
    }
    .p2{
        font-size: 1.1em;
        
    }
}
@media (max-width:990px) {
    .carousel-indicator button{
        width: 20px;
         height: 20px;
          border-radius: 50%;
          background: #EB5534;
          margin: 1em;
          border: 2px #EB5534 solid;
        }
        .carousel-indicator {
           bottom: -4em;
            }
            .btn-cars{
                margin-top: 6em;
            }
    .im-l {
        width: 100px;
    }
    .cards{
        width: 18rem;
        position: absolute;
        top: 3em;
        right: 5em;
        z-index: 1;
        border: none;
    }
    #box2{
        min-height: 60vh;
        
    }
    .hh4{
        width: 18em;
        text-align: center;
    }
    .tts{
        width: 100%;
    }
    .ww{
        width: 100%
    }
    .img-h{
        position: absolute;
        top: 6em;
        width: 15em;
       
       
        right: 3em;
        
    }
    .img-h1{
       top: 0;
    }
    .box-form{
        margin-top: 4em;

    }
    #other{

    }

    .other{
        top: 0;
    }
    .doxod{
        margin-top: 10em;
        font-size: 1.5em;
        position: relative;
    }
    .hh1{
        width: 100%;
        margin-top: 1em;;
    }
    .box-form{
        margin-top: 4em;
        position: relative;
        display: flex;
        justify-content: center;
      
    }
    #header{
        min-height: 100vh;
        padding-top: 3em;
        padding-bottom: 8rem;
    }
    .box-about{
        width: 100%;
    }
    .bb{
        justify-content: center;
        
    }

}
@media (max-width:600px){
    .imn{
        width: 40%;
    }
    .img-log{
        position: absolute;
        top: 0;
        width: 100px;
        margin-top: 1em;
    }
    .carousel-indicator button{
        width: 20px;
         height: 20px;
          border-radius: 50%;
          background: #EB5534;
          border: 3px #EB5534 solid;
        }
        .cards{
            top: 1.5em;
            right: 2em;
        }
        #o-services{
            min-height: 110vh;
        }
    #about{
        background-color: white;
    }
    .bb{
        width: 100%
    }
    .otv{
        padding-left: 4em;
                   padding-right: 4em;
                   padding-right: 4em;
                   font-size: .8em;
                   width: 100%;
                  padding-top: 3em;
                   text-align: center;
   }

    .onetext{
        right: 2em;
    }
    .oot2{
        left: 1em;
        font-size: 1em;
    }
    .prin{
        top: 0;
    }
    .other{
        top: 0;
    }
    .text-other{
        width: 70%;
        font-size: 1em;
      
    }

    .text-other2{
       width: 70%;
        font-size: 1em;
        margin-left: 3em;
        margin-top: 12rem;
       
    }
    .neprin{
        width: 16em;
        right: 0;
    }
    .w-1{
        right: -1em;
    }
    section{
        padding-top: 4rem;
    }
    .img-cont{
      
    }
}
@media (max-width:800px) {
    .carousel-indicator button{
        width: 15px;
         height: 15px;
          border-radius: 50%;
          background: #EB5534;
          margin: 1em;
          border: none;
        }
    .oot2{
        position: absolute;
        width: 100%;
       
        bottom: -4em;
        padding: 2em;
        left: 2em;
        left: 0;
      
        font-size: 1.5em;
        font-weight: 500;
    }
}
@media (max-width:400px){
    .carousel-indicator button{
        width: 15px;
         height: 15px;
          border-radius: 50%;
          background: #EB5534;
          margin: 1em;
          border: none;
        }
    .otv{
        padding-left: 4em;
                   padding-right: 4em;
                   padding-right: 4em;
                   font-size: .8em;
                   width: 100%;
                  padding-top: 1em;
                   text-align: center;
   }
}
