<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #23164B;">
    <div class="container">
      <a style="position: relative;
      min-width: 35%;text-decoration: none;" class="navbar-brand" href="/">
        {% load static %}
        <img style="position: absolute;top: -0.3em;left: 0;"  src="{% static 'images/uanted.svg' %}" alt="">
      </a>
      <li class=" d-lg-none d-block justify-content-between">
        <a style="    margin-left: 1em;"     href="tel:+971585272709" class="text-flicker">
          {% load static %}
          <img  class="img-fluid mt-1" src="{% static 'images/pp.png' %}">
        </a>
        <a style="text-decoration: none;margin-left:2em" href="https://wa.me/77077678676/" target="blank">
          {% load static %}
          <img  class="img-fluid mt-1" src="{% static 'images/ww.png' %}">
        </a>
        <a style="text-decoration: none;margin-left:2em" href="https://instagram.com/unwanted_free_removal?igshid=YmMyMTA2M2Y=" target="blank">
          {% load static %}
          <img width="22"  class="img-fluid mt-1" src="{% static 'images/ii.png' %}">
        </a>
       
      </li>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0 ">
          <li class="nav-item active">
            <a class="nav-link "  href="/#o-services">About US </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"   href="/#works">How it works? </a>
          </li>
          <li class="nav-item">
            <a style="cursor: pointer;" class="nav-link"   >Marketplace</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"   href="/#sort">Partnership</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"   href="/#contacts">Contact us </a>
          </li>
          <li class="nav-item d-lg-block d-none">
            <a  href="tel:+971585272709" class="text-flicker" style="text-decoration: none;">
              {% load static %}
              <img style="margin-left: 1em;" class="img-fluid mt-2" src="{% static 'images/pp.png' %}">
            </a>
           
          </li>
          <li class="nav-item d-lg-block d-none">
            <a style="text-decoration: none" href="https://wa.me/971585272709/" target="blank">
            {% load static %}
            <img style="margin-left: 2em;" class="img-fluid mt-2" src="{% static 'images/ww.png' %}">
          </a>
          </li>
          <li class="nav-item d-lg-block d-none">
            <a style="text-decoration: none" href="https://www.instagram.com/second_besplatno_vyvoz/?utm_medium=copy_link" target="blank">
            {% load static %}
            <img width="21" style="margin-left: 2em;" class="img-fluid mt-2" src="{% static 'images/ii.png' %}">
          </a>
          </li>
        </ul>
       
      </div>
    </div>
  </nav>