<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div style="font-size:0.8em;">
<h1 style="font-size:1em;">Здравствуйте уважаемый админ!<h1><br>
    <div class="header" style="background-color: #23164B;">
        <img src="https://unwanted.ae/static/images/logo1.png" alt="">
    </div>
    <div class="text-email">
        <h3>Hello Dear !</h3>
        
        <h4>New application received</h4>
        
        <div class="text-detail">
            <p class="detail">Message details :</p>
            <p><span>name: </span> {name}</p>
            <p><span>phone: </span> {phone}</p>
            <p><span>Email: </span> {email}</p>
            <p><span>Addres: </span> {adress}</p>
            <h4>Our specialist will contact you shortly</h4>
        </div>
        <div>
            <p>We wish you a good day!</p>
        </div>
    </div>

</div>
</body>
</html>