<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="header" style="background-color: #23164B;">
        <img src="https://unwanted.ae/static/images/logo1.png" alt="">
    </div>
    <div class="text-email">
        <h3>Здравствуйте ,Уважаемый(ая) администратор!</h3>
        
        <h4>Поступила новая заявка  из раздела хочу в команду</h4>
        
        <div class="text-detail">
            <p class="detail">Детали сообщения :</p>
            <p><span>Имя клиента: </span> {{name}}</p>
            <p><span>Телефон клиента: </span> {{phone}}</p>
            <p><span>сообщение клиента: </span> {{message}}</p>
            
        </div>
        <div>
            <p>Удачного бизнеса!</p>
        </div>
    </div>
</body>