<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header" style="background-color: #23164B;">
        <img src="https://unwanted.ae/static/images/logo1.png" alt="">
    </div>
    <div class="text-email">
        <h3>Здравствуйте ,Уважаемый(ая) администратор!</h3>
        
        <h4>Поступила новая заявка  на сотрудничество</h4>
        
        <div class="text-detail">
            <p class="detail">Детали сообщения :</p>
            <p><span>Имя клиента: </span> {{name}}</p>
            <p><span>Телефон клиента: </span> {{phone}}</p>
            <p><span>Email клиента: </span> {{email}}</p>
            <p><span>сообщение клиента: </span> {{message}}</p>
            
        </div>
        <div>
            <p>Удачного бизнеса!</p>
        </div>
    </div>
</body>
</html>